---
---

@import "normalize";
@import "foundation";

.tabs.pill dd.active a, .tabs.pill li.active a {
    background-color: #1EAEDB;
    border: none;
    color: #fff;
    padding: 2px;
}
.tabs.pill.small a {
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    
}
.tabs.pill dd a, .tabs.pill li a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #1EAEDB;
    height: 26px;
    line-height: 26px;
    color: #666;
    padding: 2px;
}

.hightlight {
     color: white;
    background: rgba(30, 174, 219, 0.5); 
}


.inline-list dl {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0.94444rem;
    margin-left: -1.22222rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: none;
    height: 50px;
    width: 50px;
}
.back-to-top:hover {   
    color:#1EAEDB;
    border: 2px solid #1EAEDB;
    border-radius: 25px;
    background: rgba(30, 174, 219, 0.3);
}

.gradient {
  height: 10px;
  background-color: red;
  background-image:
    linear-gradient(
      to right,
      #fff,
      #1EAEDB 70%
    );
}

.poste {
    font-weight: bold;
}


.image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.panel {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 15px;
}

.icon {
    color: #fff;
}

a.aicon {
    padding: 15px;
    color: #fff;
}

.aicon:hover {
    color: #fff;
}

.muted {
    color: #f3f3f3;
}

a {
    cursor: pointer; 
}

