
.header {
    margin-top: 40em;
     text-align: center;
}
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.aicon {
    padding: 15px;
    color: #fff;
}
a.aicon {
    padding: 15px;
    color: #fff;
}

.aicon:hover {
    color: #fff;
}

.white-panel {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 15px;
    background: #fff;
}


.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}