a.tooltip {
    outline:none; 
    
}
a.tooltip strong {
    line-height:10px;
    
}
a.tooltip:hover {
    text-decoration:none;
    
} 
a.tooltip span {
    z-index:10;
    display:none;
    margin-top: -0px;
    margin-left:-250px;
    padding: 10px 10px;
    width:220px; 
    line-height:14px;
}


a.tooltip:hover span{
    display:block; 
    position:absolute; 
    color:#111; 
    background:#fff;
    margin-top: -160px;
    margin-left:-235px;
}

/*.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}*/
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
}